nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
    a(class="navbar-brand ms-2" href="#")
        img(src=config.branding.logo width="30" height="30" class="d-inline-block align-top" alt=config.branding.title)
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse" id="navbar")
        div(class="navbar-nav")
            if(path == "/")
                a(class="nav-link active" aria-current="page" href="#") Home
            else
                a(class="nav-link" aria-current="page" href="/") Home
            if(path == "/profile")
                a(class="nav-link active" href="#") Profile
            else
                a(class="nav-link" href="/profile") Profile
            if(path == "/settings")
                a(class="nav-link active" href="#") Settings
            else
                a(class="nav-link" href="/settings") Settings
        div(class="navbar-nav ms-auto")
            a(class="nav-item nav-link" href="#" id="logout") Logout
                i(class="fa-solid fa-arrow-right-from-bracket ms-2")