html 
    head
        title #{config.branding.title}
        include includes/head.pug
    body(class="bg-dark text-light")
        include includes/navbar.pug
        div(class="container-fluid mt-5")
            div(class="row justify-content-center")
                div(class="col-12 col-md-3 col-lg-5")
                    div(class="card bg-dark text-light")
                        h3(class="card-header") Dashboard
                        div(class="card-body")
                            p(class="card-text") This is the dashboard page.
                    div(class="card bg-dark text-light mt-3")
                        h3(class="card-header") User Info
                        div(class="card-body")
                            p(class="card-text") Lorem ipsum. Stats or something will be put here. 
                div(class="col-12 col-md-9 col-lg-5")
                    div(class="card bg-dark text-light")
                        h3(class="card-header") Website Statistics
                        div(class="card-body")
                            p(class="card-text") Long vertical card. Stats or something will be put here.
        footer 
            include includes/footer.pug