@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
body {
    font-family: 'Noto Sans', sans-serif;
}
.bg-dark {
    background-color: #212121!important;
}
.text-bg-dark {
    color: #d3d6db!important;
}
#name {
    font-family: 'Courier New', Courier, monospace
}
.navbar-title-text {
    font-family: 'Courier New', Courier, monospace;
    color: #be3144;
}
.navbar-dark {
    background-color: #1a1a1a!important;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #1b1b1b;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #1b1b1beb;
}
::-webkit-scrollbar-track {
    background: transparent;
}