@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
#terminal {
    height: 500px;
    font-family: 'Source Code Pro', monospace;
}
#terminal-input {
    border: none;
    box-shadow: none;
}
#gt {
    font-size: 1rem;
}
.terminal-line {
    white-space: pre;
}
.terminal-text-light {
    color: #a2a5aa!important;
}